.canvas {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 17;
  display: grid;
  place-items: center;
  overflow: auto;
  transition: all 600ms ease-in-out;
  transform: translateX(0);
  width: 100%;
  height: 100%;
}

.canvas-container {
  align-self: center;
  justify-self: center;
}

.canvas_toolbar-open {
  transform: translateX(25%);
  width: calc(100vw - 100vw / 16 * 4);
}
