.header {
  display: flex;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 17;
  grid-row-start: 1;
  padding: 0 2.5%;
  transition: all 600ms ease-in-out;
  transform: translateX(0);
}

.header_toolbar-open {
  transform: translateX(25%);
  width: calc(100vw - 100vw / 16 * 4);
}

.header__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}

.header__items-group {
  display: flex;
}

.header__items-group:nth-child(1) .header__item {
  margin-right: 7%;
  user-select: none;
}

.header__items-group:nth-child(2) {
  justify-content: center;
}

.header__items-group:nth-child(3) {
  justify-content: flex-end;
}

.header__items-group:nth-child(3) .header__item {
  margin-left: 7%;
}

.header__item {
  cursor: pointer;
}

.header__item svg {
  width: 3vh;
  height: 3vh;
  stroke: var(--text-color);
}

.header__upload-image-input {
  display: none;
}

.zoom-control {
  display: flex;
  align-items: center;
  color: var(--text-color);
}

.zoom-control__value {
  padding: 0 2vh;
  cursor: default;
}
