.menu {
  grid-row-start: 1;
  grid-row-end: 3;
  background-color: var(--menu-bg);
  z-index: 2;
  display: flex;
  align-items: center;
}

.menu__wrapper {
  width: 100%;
}

.menu__item {
  padding: 1.875vw;
  cursor: pointer;
}

.menu__item svg {
  width: 2.34375vw;
  height: 2.34375vw;
}

.menu__item:hover {
  background: var(--toolbar-bg);
  transition-duration: 0.3s;
}

.menu__item_active {
  background-color: var(--toolbar-bg);
}
