.toolbar {
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  background: var(--toolbar-bg);
  overflow-y: auto;
  height: 100vh;
  transition: all 0.3s;
  color: var(--text-color);
}

.toolbar-enter {
  transform: translateX(-200%);
}
.toolbar-enter-active {
  transition: all 600ms ease-in-out;
  transform: translateX(0);
}
.toolbar-exit {
  transform: translateX(0);
}
.toolbar-exit-active {
  transform: translateX(-200%);
  transition: all 600ms ease-in-out;
}

.toolbar__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.171875vw 1.5625vw;
  background: var(--border-color);
}

.toolbar__header svg {
  width: 0.9375vw;
  height: 0.9375vw;
  cursor: pointer;
}

.toolbar__content {
  padding: 2.34375vw 1.5625vw;
  display: grid;
  grid-row-gap: 2.34375vw;
  font-size: 0.95em;
}

.toolbar_search {
  grid-column-end: 17;
  z-index: 999;
  padding: 3.75vw 19.6875vw;
}

.toolbar__block-title {
  margin-bottom: 1.5625vw;
  font-weight: 600;
  font-size: 0.95em;
}

.toolbar__divider {
  width: 100%;
  height: 0.156vw;
  background: var(--border-color);
  margin-bottom: 1.5625vw;
}

.toolbar__form {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 0.78125vw;
}

.toolbar__form-label {
  margin: 0;
  align-self: center;
  font-weight: 600;
  font-size: 0.95em;
}

.toolbar__form-input {
  width: 100%;
  background: transparent;
  float: right;
  text-align: right;
  border: 0.156vw solid var(--border-color);
  font-size: 0.95em;
  padding: 0.234375vw 0.46875vw;
}

.toolbar__form-input::-webkit-outer-spin-button,
.toolbar__form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.toolbar__form-input[type="number"] {
  -moz-appearance: textfield;
}

.toolbar__options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.78125vw;
  row-gap: 0.78125vw;
}

.toolbar__options_one-col {
  grid-template-columns: 1fr;
}
.toolbar__options_three-col {
  grid-template-columns: repeat(3, 1fr);
}

.toolbar__option {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 4.6875vw;
  background: var(--border-color);
  padding: 1.5625vw 1.172vw;
  font-weight: 600;
  font-size: 0.95em;
  user-select: none;
}

.toolbar__option_active {
  border: 0.3125vw solid var(--text-color);
}

.toolbar__option:hover {
  opacity: 0.8;
}

.toolbar__option p {
  margin-left: 0.78125vw;
}

.toolbar__option svg {
  width: 1.5625vw;
  height: 1.5625vw;
}

.toolbar__action-btn {
  background: var(--text-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  height: 3.906vw;
  font-size: 0.95em;
  transition: all 0.3s;
  color: var(--main-bg);
}

.toolbar__action-btn:hover {
  opacity: 0.8;
}
