@import "./variables.css";
@import "./components/App.css";
@import "./components/header.css";
@import "./components/Menu.css";
@import "./components/tooltip.css";
@import "./components/canvas.css";
@import "./components/toolbar.css";

* {
  box-sizing: border-box;
}

body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  background-color: var(--main-bg);
  overflow: hidden;
}

svg {
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
  margin: 0;
}

p {
  margin: 0;
}

button {
  cursor: pointer;
  background: 0;
  border: 0;
  padding: 0;
}

button:focus {
  outline: none;
}

input {
  color: var(--text-color);
}

input[type="number"] {
  color: #969696;
  transition: all 0.2s;
}

input[type="number"]:focus {
  border: 2px solid var(--text-color);
  outline: none;
  color: var(--text-color);
}

input[type="number"]:hover {
  color: var(--text-color);
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s;
}

input[type="color"]:focus {
  outline: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.hidden {
  visibility: hidden;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0.469vh;
  height: 0.469vh;
  background: var(--menu-bg);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 4px;
}

.slider {
  width: 100%;
  cursor: pointer;
}

.slider__header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-bottom: 16px;
}

.slider__input {
  text-align: right;
}

.slider__title {
  font-weight: 500;
}

.colors__grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 2.5vw);
}

.colors__color_active {
  transform: scale(1.4);
}

.disabled {
  color: var(--disabled-color);
  cursor: default;
}

.disabled svg {
  color: var(--disabled-color);
}

#root .rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: var(--border-color);
  height: 4px;
  border-radius: 4px;
}

#root .rc-slider-handle {
  border: none;
  width: 1.09375vw;
  height: 1.09375vw;
  margin-top: -0.390625vw;
}

#root .rc-slider-handle:active {
  box-shadow: none;
  border-color: none;
}

#root .rc-slider-dot {
  border: none;
}

#root .rc-slider-track {
  background-color: var(--text-color);
  height: 4px;
}
